<div class="wrapper">
  <div class="main_header">
    <div class="header_title">
      <div class="title">顧客管理アプリ</div>
    </div>
      <div class="header_lists">
        <ul class="lists">
          <li class="left_list">
          <a class= "sign_up" href="#">新規登録</a>
          </li>
          <li class="right_list">
          <a class="login" href="#">ログイン</a>
          </li>
        </ul>
      </div>
  </div>
  
  <div class="main">
    <ul class="contents">
      <li class="upper_content">
        <a href="#">顧客情報作成</a>
      </li>
      <li class="middle_content">
        <a href="#">顧客情報一覧</a>
      </li>
      <li class="lower_content">
        <a href="#">売上データルーム作成</a>
      </li>
    </ul>
  </div>
</div>