<div class="customer_wrapper">
  <div class="customer_header">
    <div class="customer_main">
      <div class="customer_title">顧客管理</div>
    </div>
  </div>

  <div class="customer_form">
      <div class="left_form">
        <div class="form_title">顧客管理入力フォーム</div>

        <div class="name_field">
          <div class="last_name">
            <label>顧客名(全角)</label>
            <input type="text">
          </div>
        
          <div class="first_name">
            <input type="text">
          </div>
        </div>

        <div class="name_field">
          <div class="last_name">
            <label>顧客名カナ(全角)</label>
            <input type="text">
          </div>

          <div class="first_name">
            <input type="text">
          </div>
        </div>

          <div class="postal_code">
            <label>郵便番号</label>
            <input type="text">
          </div>

        <div class="prefecture_field">
          <div class="prefecture">
            <label>都道府県</label>
            <input type="text">
          </div>

          <div class="city">
            <label>市町村</label>
            <input type="text">
          </div>
        </div>

          <div class="house_number">
            <label>番地</label>
            <input type="text">
          </div>

          <div class="building">
            <label>建物名</label>
            <input type="text">
          </div>

          <div class="phone">
            <label>電話番号</label>
            <input type="text">
          </div>

      </div>

      <div class="right_form">

          <div class="product">
            <label>商品名</label>
            <input type="text">
          </div>

          <div class="earnings">
            <label>売上高</label>
            <span>
              <input type="text"><em>円</em>
            </span>
          </div>
        
        <div class="visit_field">
            
            <label>訪問日</label>
            <div class="visit_date">
              <div class="year">
                <input type="text"><em>年</em>
              </div>

              <div class="month">  
                <input type="text"><em>月</em>
              </div>

              <div class="date"> 
                <input type="text"><em>日</em>
              </div>
            </div>
        </div>

        <div class="purchase_field">
            
            <label>購入日</label>
            <div class="purchase_date">
              <div class="year">
                <input type="text"><em>年</em>
              </div>

              <div class="month">  
                <input type="text"><em>月</em>
              </div>

              <div class="date"> 
                <input type="text"><em>日</em>
              </div>
            </div>
        </div>

          <div class="customer_culumn">
            <label>備考欄</label>
            <textarea type="text"></textarea>
          </div>

          <div class="actions">
            <input type="button" value="登録する">
          </div>
      </div>
      
  </div>
</div>