.customers_wrapper{
  width: 100vw;
  height: 100vh;
  background-color: lightgray;
}

/* メイン */
.customers_container{
  width: 100vw;
  height: 100vh;
  background-color: lightgray;
  padding-bottom: 30px;
}

.customer_container{
  width: calc(100% - 140px);
  height: 100%;
  background-color: white;
  margin: 0 auto;
  font-size: 20px;
  padding-top: 30px;
  border: 2px groove grey;
}

.container_lists{
  width: 1200px;
  height: 25px;
  margin: 0 auto;
  display: flex;
  border: 1px solid black;
}

.list_name{
  border-right: 1px solid black;
  width: 150px;
}

.list_name a{
  color: blue;
}

.list_address{
  border-right: 1px solid black;
  width: 550px;
}

.list_visit_date{
  border-right: 1px solid black;
  width: 150px;
}

.list_purchase_date{
  border-right: 1px solid black;
  width: 150px;
}

.list_plice{
  width: 200px;
}

.top{
  text-align: center;
  margin-top: 30px;
}

.top a{
  color: blue;
}

 
